@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Measurements */
    --header-height: 3rem;
    --padding-height: 1.5rem;

    /*Fonts*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --letter-spacing: .02rem;
    --line-height: 1.7rem;

    /*Colors*/
    --background-color: linear-gradient(rgba(119,117,255,.2), rgba(128,170,230,.18));
    --text-color: #3c3b45;

    /*Effects*/
    --background-effect: transparent;
    --color-effect: lightseagreen;
    --hover-effect: rgb(93, 86, 81);

}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    margin: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-image: var(--background-color);
    background-color: var(--background-effect);
    background-clip: padding-box;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: inherit;
    overflow: visible;
    text-rendering: optimizeLegibility;
}

/* Navigation Menu Styling */
.nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: center;
    margin: var(--header-height);

}

.nav-bar a{
    margin: 0 var(--padding-height);
    padding: .3rem var(--padding-height);
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--h3-font-size);
    font-weight: bold;
}

.nav-bar a:hover{
    color: var(--hover-effect);
}

/* Homepage Styling */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.aboutMe {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.myName {
    color: var(--color-effect);
    text-transform: uppercase;
}

.jobTitle span{
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.jobTitle1 {
    animation: animate1 15s infinite;
}
.jobTitle2 {
    animation: animate2 15s infinite;
}
.jobTitle3 {
    animation: animate3 15s infinite;
}
.jobTitle4 {
    animation: animate4 15s infinite;
}

@keyframes animate1 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}
@keyframes animate2 {
    25% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
}
@keyframes animate3 {
    55% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}
@keyframes animate4 {
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.summary {
    margin-top: 2.5rem;
}