html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    min-height: 100%;
    color: #333;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;

    -webkit-text-fill-color: inherit;
    background-color: transparent;
    background-image: linear-gradient(rgba(119,117,255,.2),rgba(128,170,230,.18));
    background-clip: padding-box;
    display: block;
    overflow: visible;
    padding-bottom: 230px;
    
    /* -webkit-text-fill-color: inherit;
    background-color: transparent;
    background-image: linear-gradient(rgba(119,117,255,.2),rgba(128,170,230,.18));
    background-clip: padding-box;
    padding-top: 60px;
    padding-bottom: 230px;
    padding-left: 5%;
    display: block;
    overflow: visible; */
}
.content {
    padding-top: 100px;
    padding-left: 5%;
}

.header {
    z-index: 1111;
    background-color: #fff;
    padding: 20px 60px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
}

nav {
    padding: 0;
    margin-bottom: 9px;
    text-align: center;
}
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #5a60ea;
    border: 2px solid #ff6dcd;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    padding: 10px 14px 8px 14px;
    font-size: 17px;
    margin-right: 40px;
}
/*to create a vertical bar when the width reaches 599px*/
@media screen and (max-width: 599px) {
    nav a{
        display: block;
    }
}
/*just to decrease the margin-right when it reaches min and max width of 600px and 899px respectively*/
@media screen and (min-width: 600px) and (max-width: 899px) {
    nav a{
        margin-right: 30px;
    }
}

.stack {
    color: #222;
    letter-spacing: .02em;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 60px;
}