html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    color: #333;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: inherit;
    text-rendering: optimizeLegibility;
    background-color: transparent;
    background-image: linear-gradient(rgba(119,117,255,.2),rgba(128,170,230,.18));
    background-clip: padding-box;
    display: block;
    overflow: visible;
    padding-bottom: 230px;
}

.content {
    padding-left: 2%;
    padding-right: 2%;
}

.menu {
    z-index: 1111;
    background-color: #fff;
    padding-top: 20px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
}

nav {
    padding: 0;
    margin-bottom: 9px;
    text-align: center;
}
nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(rgba(119,117,255,.2),rgba(128,170,230,.18));
    border: 2px solid #5a60ea;
    border-radius: 5px 0 5px 0;
    border-bottom: 0;
    padding: 10px 14px 8px 14px;
    font-size: 17px;
    margin-right: 40px;
}
/*to create a vertical bar when the width reaches 599px*/
@media screen and (max-width: 599px) {
    nav a{
        display: block;
    }
}
/*just to decrease the margin-right when it reaches min and max width of 600px and 899px respectively*/
@media screen and (min-width: 600px) and (max-width: 899px) {
    nav a{
        margin-right: 30px;
    }
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    line-height: 2.0rem;
}

@media screen and (max-width: 991px) {
    .paragraph {
        line-height: 28px;
    }
}
.paragraph {
    color: #222;
    letter-spacing: .02em;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 1.2rem;
    line-height: 1.7rem;
    display: block;
}

@media screen and (max-width: 991px) {
    .paragraph.about {
        font-size: 1.1rem;
    }
}
.paragraph.about {
    text-align: left;
}

.aboutme{
    padding-top: 120px;
    inline-size: 50%;
    overflow-wrap: break-word;
}

.aboutimg {
    inline-size: 50%;
    justify-content: flex-end;
    padding: 60px 0px 400px 200px;
    display: block;
    overflow: visible;
}

.green {
    color: lightseagreen;
}

.stack {
    color: #222;
    letter-spacing: .02em;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 60px; 
}

/* @media screen and (max-width: 991px){
    .my-image {
        width: 100%;
    }
} */

img {
    width: 100%;
    vertical-align: middle;
    display: inline-block; /* remove extra space below image */
}

@media screen and (max-width: 991px){
    .section {
        flex-direction: column;
    }
}

.section {
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
    display: flex;
}

.stack.heading {
    display: flex;
    justify-content: center;
}

.section2 {
    padding-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

.border {
    background: ghostwhite; 
    font-size: 20px; 
    padding: 15px 10px 15px 10px; 
    border: 5px solid wheat;
    border-radius: 5px; 
    height: 300px;
    inline-size: 33.3%;
    overflow-wrap: break-word;
    text-align: center;
}